<?php foreach ($block->getItems() as $question): ?>
    <div class = "accordion"
         data-mage-init='{
            "accordion":{
            "active": [1, 2],
            "collapsible": true,
            "openedState": "active",
            "multipleCollapsible": true
        }}'>
        <div class="faq-question" data-role="collapsible">
            <div data-role="trigger">
            <span><?php echo $question->getQuestion(); ?></span>
            </div>
        </div>
        <div class = "faq-answer" data-role="content">
            <?php echo $question->getAnswer(); ?>
        </div>
    </div>
<?php endforeach; ?>


