<template>
    <div class="main">
        <div class="title">
            <h2>Frequently asked questions</h2>
        </div>
        <div class="question-container">
            <div v-for="item in questions" :key="item.id">
                <div class="question" :class="{'active':ids.includes(item.id)}" @click="toggleAccodrion(item.id)">
                    <span>{{ item.question }}</span>
                </div>
                <div class="answer" v-if="ids.includes(item.id)">
                    <span >{{ item.answer }}</span>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
   // import FaqBox from '../components/core/Faqbox.vue'

    export default {
        name: 'faq',
        // components: {
        //     FaqBox
        // },
        data() {
            return {
                questions: [],
                ids: [],
                index: 0,
                open:false

            }
        },
        mounted () {
            fetch('http://localhost:8080/api/ext/magento-faq/faq', {
                method: 'get'
            })
                .then((response) => {
                    return response.json()
                })
                .then((jsonData) => {
                    this.questions = jsonData.result
                })
        },
        methods: {
            toggleAccodrion(id) {
                let index = this.ids.indexOf(id);

                if (index === -1) {
                    this.ids.push(id);
                } else {
                    this.ids.splice(index, 1);
                }
            },
        }

    }

</script>

<style lang="scss">
    .question-container{
        margin: 25px 50px 75px 100px;
    }
    .title{
        padding: 40px;
        background-color: #eeeeee;
    }
    h2{
        margin-left: 130px;
    }
    .question{
        padding: 10px;
        cursor: pointer;
        margin-top: 15px;
        text-transform: uppercase;
        -webkit-box-shadow: 0 8px 4px -4px #b6b6b6;
        -moz-box-shadow: 0 8px 4px -4px #b6b6b6;
        box-shadow: 0 8px 4px -4px #b6b6b6;
        &:hover{
            background-color: rgba(0,246,79, 0.50);
            color:white;
        }
        &.active{
            background-color: rgba(0,246,79, 0.50);
            color:white;
        }
    }
    .answer{
        background-color: #efefef;
        padding: 10px;
    }

</style>