<!--<template>-->
    <!--<div class = "question-box-container">-->
        <!--<div class = "question-box">-->
            <!--&lt;!&ndash;<template slot = "lead">&ndash;&gt;-->
                <!--&lt;!&ndash;{{ questions.question }}&ndash;&gt;-->
            <!--&lt;!&ndash;</template>&ndash;&gt;-->
            <!--<div class = "answer-box">-->
                <!--<p>sasas</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->
<template>
<div>{{ questions }}</div>
</template>
<!--<script>-->
    <!--export default {-->
        <!--props: {-->
            <!--question: Object-->
        <!--}-->
    <!--}-->
<!--</script>-->